.container {
    width: 1300px;
    margin: 0 auto;
}

.cr img {
    padding-right: 300px;
}

.cr {
    background-color: brown;
    padding-left: 200px;

}

.ppp input {
    width: 500px;
    background-color: brown;
}

.box9 {
    text-align: center;
    color: white;
    background-color: brown;
    border-radius: 20px;
    width: 800px;
    margin-left: 200px;
    height: 200px;
    margin-bottom: -50px;
    border: 1px solid rgb(234, 233, 233);
    border-radius: 20px;
    background: var(--qizil, #BB2339);
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.20);
    position: absolute;
    z-index: 1;
    top: -20px;
}

.ppp {
    text-align: start;
    margin-left: 20px;
    border-radius: 20px;
    color: rgb(66, 66, 66);
    width: 500px;

}

.pp {
    padding-left: -320px;
    border: 1px solid white;
    width: 100px;
    margin-left: 600px;
    margin-top: -40px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
}
.pp input {
    width: 100px;
    border-radius: 30px;
}
.pp input:hover {
    background-color: green;
}
a {
    color: white;
    padding-left: 20px;
}

.foo {
    margin-top: 50px;
    background-color: #fff;
    padding-top: 50px;position: relative;
    }   
.box {
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
    margin-left: 200px;
}
.box2 {
    text-align: center;
    font-size: 20px;
}
.hh {
    color: brown;
}
.box10 {
    width: 1200px;
    height: 400px;
    background-color: #BB2339;
    padding-top: 180px;
}

.box10-1 {
    text-align: center;
    width: 300px;
    color: white;
    padding-left: 100px;
    margin-top: 50px;
}

.box10-2 {
    margin-top: -180px;
    text-align: center;
    color: white;
}

.box10-3 {
    color: white;
    margin-left: 900px;
    margin-top: -300px;
}
.b4 {
    display: flex;
}
.in12 {
    display: flex;
    gap: 20px;
    /* border: 1px solid gray; */
    color: gray;
    width: 700px;
    height: 50px;
    padding-bottom: 20px;
    /* padding-left: 50px; */
}
.in12 input {
    border-radius: 10px;
    width: 300px;
}
.in34 input {
    border-radius: 10px;
    width: 300px;
}
.aaaa {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid gray;
}
.in34 {
    display: flex;
    gap: 20px;
    width: 700px;
    height: 50px;
    color: gray;
    /* padding-left: 50px; */
}
.box-2-red {
    background-color: brown;
    border-radius: 30px;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.b4-2 {
    width: 800px;
    margin-left: 100px;
    height: auto;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 20px;
    padding-left: 20px;
}
.b4-2 h1 {
    font-size: 40px;
}
.sub {
    width: 100px;
    height: 50px;
}
.a4 {
    gap: 20px;
}
.box4 img {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
}
.boxred  {
    text-align: center;
}
.box4 {
    background-color: #fff;
    display: flex;
    gap: 20px;
    
    width: 385px;
    height: 125px;
    padding-top: 25px;
    padding-left: 25px;
    border-radius: 10px;
    border: 1px solid gray;
}
.box4:active {
    background-color: rgb(206, 96, 96);
    border: 5px solid blue;
}